<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AccountSupervisor - WebInterface</title>
    <style>
      html, body {
        background: #2E3136;
      }
    </style>
  </head>
  <body>
	You are connected!<br />
    <script type="text/javascript">
      var test = '<%= JSON.stringify(user).replace(/'/g,'\\\'') %>';
	  console.log(test);
    </script>
  </body>
</html>
