<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AccountSupervisor - WebInterface</title>
    <style>
      html, body {
        background: #2E3136;
      }
    </style>
  </head>
  <body>
	You are connected!<br />
    <script type="text/javascript">
      var user = JSON.parse('<%- JSON.stringify(user).replace(/'/g,'\\\'') %>');
	  var botguilds = JSON.parse('<%- JSON.stringify(guilds).replace(/'/g,'\\\'') %>');
	  console.log(user);
	  console.log(botguilds);
    </script>
  </body>
</html>
